##################################################
# FedBerry RPi4/RPi5 specific kernel config options
##################################################

# Transparent Huge Pages support - recommended by the v3d DRM driver
CONFIG_TRANSPARENT_HUGEPAGE=y
CONFIG_HUGETLBFS=y
CONFIG_TRANSPARENT_HUGEPAGE_NEVER=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_PERSISTENT_HUGE_ZERO_FOLIO=y
